<div class="lista-tarefas-campos">
    <div class="row-two-colums">
        <label>Número: </label>
        <input type="number" [(ngModel)]="filtro.numero" pInputText class="w-full" style="max-width: 260px"/>
    </div>

    <div class="row-two-colums">
        <label>Título/Descrição:</label>
        <input type="text" [(ngModel)]="filtro.termo" pInputText class="w-full"/>
    </div>

    <div class="row-colums-ext">
        <label style="transform: translateY(25%)">Responsável:</label>
        <p-select [options]="usuarios" [(ngModel)]="usuarioSelecionado" optionLabel="label" placeholder="Responsável"
                  emptyMessage="Nenhum usuário"/>

        <label style="transform: translateY(25%)">Situação:</label>
        <p-select  [options]="situacoes" [(ngModel)]="situacaoSelecionada" optionLabel="label" placeholder="Situação" class="only-desktop" />

        <div class="text-right">
            <p-button label="Buscar Tarefas" icon="pi pi-search" iconPos="right" (click)="emitirFiltro()"/>
        </div>
    </div>
</div>
